<!DOCTYPE html>
<html>
<head>
    <meta name= "viewport" content ="width=device-width, initial-scale=1.0"> 
    <title>Welcome to LearnHub</title>
    <link rel="stylesheet" href="static/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head> 
<body>
<section class="sub-header">
        <nav>
            <div class="logo">
                <a href="http://127.0.0.1:5000/home">
                    <img src="static/images/learnhub_logo.png">
                </a>
            </div>
            <div class="nav-links" id="navLinks">
                <i class="fas fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="http://127.0.0.1:5000/courses">COURSES</a></li>
                    <li><a href="http://127.0.0.1:5000/Blog">BLOG/SERVICES</a></li>
                    <li><a href="http://127.0.0.1:5000/contact">CONTACT</a></li>
                </ul>
            </div>
           <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>

    
    </section>
    
   <!------- About Us Content ------->
    
    <section class="about-us">
        
        <div class="row">
            
            <div class="about-col">
                <h4>Best E-Learning Platform</h4>
                <p2>At LearnHub, we are passionate about fostering a love for learning and empowering individuals to reach their full potential. We believe that education should be accessible to everyone, which is why we offer a diverse range of online courses in various subjects and disciplines. Our platform is designed to provide a seamless learning experience, with interactive lessons, engaging content, and expert instructors. Whether you're looking to enhance your professional skills, explore new hobbies, or pursue academic interests, LearnHub is here to support you on your learning journey. Join our vibrant community of learners and embark on a path of continuous growth and discovery.</p2>

                <a href="http://127.0.0.1:5000/signup" class="hero-btn red-btn">EXPLORE NOW</a>
            </div>
            
                <div class="about-col">
                <img src="static/images/learn1.PNG">
                </div>
        </div>
        
    
    </section>
    
    
    
    
    
   <!------- Footer ------->
    
    <section class="footer">
        <h5>ABOUT US</h5>
        <p1>LearnHub is an innovative course provider app that offers a wide range of educational programs to enhance your knowledge and skills. <br>With a userinterface, LearnHub provides interactive courses, expert instructors, webinars and personalized learning paths.<br>Whether you are interested in professional development, academic subjects, or hobbies, LearnHub has something for everyone.</p1>

            <br><br><a class="social-icon" href="https://twitter.com/Kriz_Baba" target="_blank">
                <ion-icon name="logo-twitter"></ion-icon> 
            </a>
            <a class="social-icon" href="https://github.com/Kraymond1738/LearnHub" target="_blank">
                <ion-icon name="logo-github"></ion-icon> 
            </a>
            <a class="social-icon" href="https://www.linkedin.com/in/kriz-tech-18093224b/" target="_blank">
                <ion-icon name="logo-linkedin"></ion-icon> 
            </a>
            <a class="social-icon" href="https://www.gmail.com" target="_blank">
                <ion-icon name="mail-outline"></ion-icon> 
            </a>

            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        </div>
        <p1><br>Powered by <i class="fas fa-thumbs-up"></i> LearnHub Team</p1>

    </section>
      
<!-------Javascript for Toggle Menu-------> 
<script>
    
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0"; 
    }
    function hideMenu(){
        navLinks.style.right = "-200px"; 
    }
    
</script>
    
</body>    
</html>
