<!DOCTYPE html>
<html>
<head>
    <meta name= "viewport" content ="width=device-width, initial-scale=1.0"> 
    <title>Welcome to LearnHub</title>
    <link rel="stylesheet" href="static/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head> 
<body>
<section class="sub-header2">
        <nav>
            <div class="logo">
                <a href="http://127.0.0.1:5000/home">
                    <img src="static/images/learnhub_logo.png">
                </a>
            </div>
            <div class="nav-links" id="navLinks">
                <i class="fas fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="http://127.0.0.1:5000/about">ABOUT</a></li>
                    <li><a href="http://127.0.0.1:5000/courses">COURSES</a></li>
                    <li><a href="http://127.0.0.1:5000/blog">BLOG/SERVICES</a></li>
                </ul>
            </div>
           <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>

    <h1>CONTACT US</h1>
</section>
    
   <!------- Contact Us Content ------->
    
    <section class="location">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15858.255331086748!2d3.423033226794845!3d6.449999746660977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf4c4c84b52bb%3A0x5faec50ebdf1a1ea!2sIkoyi!5e0!3m2!1sen!2sng!4v1685317835656!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </section>
    
    <section class="contact-us">
        
        <div class="row">
            <div class="contact-col">
                <div>
                    <i class="fas fa-home"></i>
                    <span>
                        <h6>Seyi's Estate, 12 Afolabi Close</h6>
                        <p2>Ikoyi, Lagos, Nigeria</p2>
                    </span>
                </div>
            
                <div>
                    <i class="fas fa-phone"></i>
                    <span>
                        <h6>+234 806 764 8965, +234 806 589 6080, +256 789 802819</h6>
                        <p2>Monday to Friday, 9AM to 5PM.
                        </p2>
                    </span>
                </div>
                
                <div>
                    <i class="fas fa-envelope"></i>
                    <span>
                        <h6>afooseyi@mail.com, christiandonatus01@gmail.com, kasumbaraymond@gmail.com</h6>
                        <p2>Email us</p2>
                    </span>
                </div>
            </div>
            
            <div class="contact-col">
                
                <form action="form-handler.php" method="post">
                       <input type="text" name="name" placeholder="Enter Your Name" required>
                       <input type="email" name="email" placeholder="Enter Email Address" required>
                       <input type="text" name="subject" placeholder="Subject" required>
                       <textarea rows="8" name="message" placeholder="Your Message" required></textarea>
                       <button type="submit" class="hero-btn red-btn">Send Message</button>
                </form>
        
            </div>
        </div>
    
    </section>
    
    
    
    
    
   <!------- Footer ------->
    
    <section class="footer">

        <a class="social-icon" href="https://twitter.com/Kriz_Baba" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon> 
        </a>
        <a class="social-icon" href="https://github.com/KrizTech" target="_blank">
            <ion-icon name="logo-github"></ion-icon> 
        </a>
        <a class="social-icon" href="https://www.linkedin.com/in/kriz-tech-18093224b/" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon> 
        </a>
        <a class="social-icon" href="https://www.gmail.com" target="_blank">
            <ion-icon name="mail-outline"></ion-icon> 
        </a>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>
        <br><p1>Powered by <i class="fas fa-thumbs-up"></i> LearnHub Team</p1>
    
        
    </section> 
      
<!-------Javascript for Toggle Menu-------> 
<script>
    
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0"; 
    }
    function hideMenu(){
        navLinks.style.right = "-200px"; 
    }
    
</script>
    
</body>    
</html>
