<!DOCTYPE html>
<html>
<head>
    <meta name= "viewport" content ="width=device-width, initial-scale=1.0"> 
    <title>Welcome to LearnHub</title>
    <link rel="stylesheet" href="static/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head> 
<body>
<section class="sub-header1">
        <nav>
            <div class="logo">
                <a href="http://127.0.0.1:5000/home">
                    <img src="static/images/learnhub_logo.png">
                </a>
            </div>
            <div class="nav-links" id="navLinks">
                <i class="fas fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="http://127.0.0.1:5000/about">ABOUT</a></li>
                    <li><a href="http://127.0.0.1:5000/blog">BLOG/SERVICES</a></li>
                    <li><a href="http://127.0.0.1:5000/contact">CONTACT</a></li>
                </ul>
            </div>
           <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>

    <br>
    
    </section>
    
    <!------- Course Categories ------->
    <br>
    <section class="course1">
        <h1>COURSE CATEGORIES THAT WE OFFER</h1>
        <p>Diverse courses, expert instructors, comprehensive materials, interactive learning.</p>
        
        <div class="row">
            <div class="course-col">
                <h3>BASIC</h3>
                <p1>Our basic-level courses cover a range of subjects, providing a solid foundation for learning and skill development.</p1>
            </div>
            <div class="course-col">
                <h3>INTERMEDIATE</h3>
                <p1>We offer intermediate-level courses covering various subjects, providing a comprehensive learning experience for skill advancement.</p1>
            </div>
            <div class="course-col">
                <h3>ADVANCED</h3>
                <p1>Our advanced-level courses delve deep into specialized subjects, offering advanced knowledge and skill development opportunities.</p1>
            </div>
        </div>
        
    </section>

   <!------- Course ------->
     <section class="courses">
        <h4>Explore Our Courses</h4>
        <p2>Discover our diverse courses and embark on your educational journey today!</p2>
        
        <div class="row">
            
            <div class="courses-col">
                <img src="static/images/arts_album.png">
                    <h3>ART & HUMANITIES</h3>
                    <p2>Unlock your creativity and explore the world of art with our engaging and inspiring art courses and the philosophy behind art.</p2>
            </div>
            
            <div class="courses-col">
                <img src="static/images/business.png">
                    <h3>BUSINESS</h3>
                    <p2>Gain valuable business skills and thrive in the corporate world with our comprehensive and practical business courses.</p2>
            </div>
            
            <div class="courses-col">
                <img src="static/images/science.png">
                    <h3>SCIENCE</h3>
                    <p2>Dive into the fascinating world of science and unravel the mysteries of the universe with our captivating science courses.</p2>
                </div>
            
            </div>
        
    </section>

</div>
<section class="blog-content">
    
<div class="blog-center">
    <h3>LIST OF COURSES</h3>
    
    <div>
        <span>Art & Humanities</span>
        <span>60</span>
    </div>
    
    <div>
        <span>Business</span>
        <span>45</span>
    </div>
    
    <div>
        <span>Sciences</span>
        <span>80</span>
    </div>
    
    <div>
        <span>Data Science</span>
        <span>30</span>
    </div>
    
    <div>
        <span>Machine Learning</span>
        <span>40</span>
    </div>
    
    
    <div>
        <span>AutoCAD</span>
        <span>50</span>
    </div>
    
    <div>
        <span>Journalism</span>
        <span>60</span>
    </div>

    <div>
        <span>History/IR</span>
        <span>30</span>
    </div>

    <div>
        <span>Networking</span>
        <span>55</span>
    </div>

    <div>
        <span>Languages</span>
        <span>75</span>
    </div>
    
    <div>
        <span>Sociology & Anthropology</span>
        <span>80</span>
    </div>

    <div>
        <span>Product Management</span>
        <span>70</span>
    </div>
</div>
</section>
    
   <!------- Footer ------->
    
    <section class="footer">
        
        <a class="social-icon" href="https://twitter.com/Kriz_Baba" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon> 
        </a>
        <a class="social-icon" href="https://github.com/KrizTech" target="_blank">
            <ion-icon name="logo-github"></ion-icon> 
        </a>
        <a class="social-icon" href="https://www.linkedin.com/in/kriz-tech-18093224b/" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon> 
        </a>
        <a class="social-icon" href="https://www.gmail.com" target="_blank">
            <ion-icon name="mail-outline"></ion-icon> 
        </a>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>
        <br><p1>Powered by <i class="fas fa-thumbs-up"></i> LearnHub Team</p1>
    
        
    </section> 
      
<!-------Javascript for Toggle Menu-------> 
<script>
    
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0"; 
    }
    function hideMenu(){
        navLinks.style.right = "-200px"; 
    }
    
</script>
    
</body>    
</html>
